* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    to top right,
    rgb(103, 250, 252),
    rgb(147, 176, 188)
  );
}

header {
  margin-top: 1rem;
  text-align: center;
}
h1 {
  color: rgb(255, 249, 222);
  font-weight: 500;
  padding-bottom: 1.2rem;
  border-bottom: solid 1px rgb(255, 249, 222);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.home a,
#submit {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 4px;
  width: 200px;
  text-decoration: none;
  color: rgb(255, 249, 222);
  overflow: hidden;
}
.home a::before,
#submit::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 20px;
  background: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.9;
  top: -25px;
  left: 10%;
  transition: 0.7s;
  transform: rotate(-20deg) translateX(-60px);
}

.home a:hover::before,
#submit:hover::before {
  transform: rotate(-20deg) translate(280px, 110px);
}

main {
  border-radius: 6px;
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.3),
    rgba(199, 199, 199, 0.8)
  );
  max-width: 92%;
  margin: 0 auto;
  backdrop-filter: blur(10px);
}

main,
.home a {
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.3),
    rgba(199, 199, 199, 0.8)
  );
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(125, 135, 134, 0.534);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid rgb(199, 199, 199);
  border-right: 1px solid rgb(199, 199, 199);
  text-decoration: none;
}

.form-header {
  padding: 0.5rem 1.5rem;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-bottom: 1px solid rgb(199, 199, 199);
  background-color: rgba(245, 245, 245, 0.708);
  border-radius: 6px;
  color: rgb(102, 100, 91);
  display: block;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  padding: 0.3rem 0;
}

.form-flex {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.part {
  margin: 2rem;
  line-height: 1.5rem;
  color: rgb(255, 249, 222);
}

a:hover {
  color: rgb(102, 100, 91);
}

h4,
h4 a {
  color: rgba(255, 255, 255, 0.381);
  font-weight: 300;
}
h4 {
  position: absolute;
  bottom: 3px;
  left: 3px;
}
h4.credit {
  left: auto;
  right: 3px;
}

#submit {
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.3),
    rgba(199, 199, 199, 0.8)
  );
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(125, 135, 134, 0.534);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid rgb(199, 199, 199);
  border-right: 1px solid rgb(199, 199, 199);
  text-decoration: none;
  color: rgb(79, 79, 79);
  transition: 1s;
}

#submit:hover {
  color: rgb(0, 0, 0);
  opacity: 0.5;
  transition: 0.9s;
  cursor: pointer;
  background-color: cyan;
  box-shadow: 0px 0px 15px white;
}

#after-submit {
  display: none;
  margin: 2rem;
  line-height: 1.5rem;
  color: rgb(255, 249, 222);
  text-align: center;
}

#contact {
  display: none;
  text-align: center;
}

h3 {
  color: rgb(255, 249, 222);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

i {
  margin-left: 1.5rem;
  color: rgb(255, 249, 222);
}

i,
h3 {
  display: inline-block;
}

.contact-info {
  display: inline-block;
  margin: 1rem 2rem;
}