* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    to top right,
    rgb(103, 250, 252),
    rgb(147, 176, 188)
  );
}

header {
  margin-top: 1rem;
  text-align: center;
}
h1 {
  color: rgb(255, 249, 222);
  font-weight: 500;
  padding-bottom: 1.2rem;
  border-bottom: solid 1px rgb(255, 249, 222);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.estimate-button a {
  position: relative;
  display: block;
  padding: 0.8rem 1.2rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 4px;
  width: 300px;
  text-decoration: none;
  color: rgb(255, 249, 222);
  overflow: hidden;
}
.estimate-button a::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 20px;
  background: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.9;
  top: -20px;
  left: 11%;
  transition: 0.7s;
  transform: rotate(-20deg) translateX(-60px);
}

.estimate-button a:hover::before {
  transform: rotate(-20deg) translate(280px, 110px);
}

main {
  border-radius: 6px;
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.3),
    rgba(199, 199, 199, 0.8)
  );
  max-width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  backdrop-filter: blur(10px);
}
main,
.estimate-button a {
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.3),
    rgba(199, 199, 199, 0.8)
  );
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(125, 135, 134, 0.534);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid rgb(199, 199, 199);
  border-right: 1px solid rgb(199, 199, 199);
  text-decoration: none;
}
main section {
  display: inline-block;
  max-width: 45%;
  margin: 1rem;
}

.bio {
  padding: 0.7rem 1.5rem;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(245, 245, 245, 0.708);
  border-radius: 6px;
  padding-left: auto;
  color: rgb(102, 100, 91);
}

.info {
  margin: 1.5rem auto;
}
h2 {
  text-align: center;
  font-weight: 500;
  padding: 0.7rem 0;
}

p a {
  color: rgb(101, 156, 178);
}

a:hover {
  color: rgb(102, 100, 91);
}

p {
  font-weight: 400;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
}
ul li {
  margin-left: 1.5rem;
  color: rgb(255, 249, 222);

  font-weight: 500;
  line-height: 1.5rem;
}
strong {
  font-weight: 500;
}

h3 {
  color: rgb(255, 249, 222);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
i,
h3 {
  display: inline-block;
}
i {
  margin-left: 1.5rem;
  color: rgb(255, 249, 222);
}

h4,
h4 a {
  color: rgba(255, 255, 255, 0.381);
  font-weight: 300;
}
h4 {
  position: absolute;
  bottom: 3px;
  left: 3px;
}
h4.credit {
  left: auto;
  right: 3px;
}

.small-screen-info {
  display: none;
}

@media screen and (max-width: 1120px) {
  body {
    overflow-y: scroll;
    height: 110vh
  }

  h4 {
    display: inline-block;
    position: relative;
    margin-top: 2rem;
  }

  h4.credit {
    float: right;
    margin-right: 5px;
  }
}

@media screen and (max-width: 910px) {
  .bio {
    width: 100%;
    height: fit-content;
    display: block;
  }
  main section {
    display: block;
    max-width: 100%;
    height: fit-content;
  }
  
  main {
    display: block;
  }

  .contact {
    text-align: center;
  }
  ul li {
    text-align: center;
    list-style-type: none;
    margin: auto 10px;
  }
}

@media screen and (max-width: 485px) {
  h1 {
    margin: auto 17px;
  }

  .contact {
    display: none;
  }

  .small-screen-info {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }

  i,
h3 {
  display: block;
}

h4 {
  display: block;
  text-align: left;
}
}